.menuHeader {
  display: none;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 5px 5px 9px #c3c3c3;
}
@media (min-width: 991px) {
  .menuHeader {
    display: block;
  }
}
.menuHeader ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuHeader > ul {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  flex-wrap: wrap;
}
.menuHeader > ul > li > span {
  font-family: "Montserrat";
  display: block;
  line-height: 40px;
  cursor: pointer;
  padding: 0 20px;
  font-size: 1.1rem;
}
.menuHeader > ul > li > span:hover {
  color: var(--ac);
}
.menuHeader > ul > li > ul {
  position: absolute;
  background: pink;
  left: 0;
  right: 0;
  display: none;
  border: 1px solid black;
  margin: 0 10px;
  z-index: 100;
}

.menuHeader > ul > li:hover > ul {
  display: block;
}
.menuHeader > ul > li > ul > li {
  margin: 0 20px;
  min-width: 200px;
}
.menuHeader > ul > li > ul > li {
  float: left;
}
.menuHeader > ul > li > ul > li > a {
  font-weight: bold;
}
.menuHeader > ul > li > ul > li a {
  display: block;
  padding: 3px 5px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
