.carousel__container {
  width: 100%;
  background-color: white;
  position: relative;
  .carousel__controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
