.page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .page__title {
    padding: 100px 10px 20px;
    grid-column: span 2;
  }
  .carousel__container {
    width: 100%;
    height: 100%;
    .carousel_root {
      height: 100%;
    }
  }
  .page__banner__container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    a {
      display: block;
    }
    img {
      width: 100%;
    }
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
}
